
<footer id="footer"  class="footer">
    <div class="container">
            
        <div class="hm-footer-copyright">
            <div class="row">
                <div class="col-sm-5">
                    <p>
                        &copy;Tüm hakları saklıdır. <a asp-controller = "Home" asp-action ="Index">Mfest</a>
                    </p>
                </div>
                <div class="col-sm-7">
                  </div>
                
                    <div class="footer-social">

                       
                        <a href="#"><i class="fa fa-facebook"></i></a>	
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  
</footer>
