
<section id="list-topics" class="list-topics mt-2">
    <div class="container">
        <div class="list-topics-content">
            <ul>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-restaurant"></i>
                        </div>
                        <h2><a href="#">Kampçılık</a></h2>
                        <p>Bu içeriğe uygun etkinlikler</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-travel"></i>
                        </div>
                        <h2><a href="#">Trekking</a></h2>
                        <p>Bu içeriğe uygun etkinlikler</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <h2><a href="#">Kış Etkinlikleri</a></h2>
                        <p>Bu içeriğe uygun etkinlikler</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-pills"></i>
                        </div>
                        <h2><a href="#">Paraşüt</a></h2>
                        <p>Bu içeriğe uygun etkinlikler</p>
                    </div>
                </li>
              
            </ul>
        </div>
    </div>

</section>
